<header id="header">    
    <h1> Graph page</h1>
    <a href="/"><button name='HOME' id='btn'>HOME</button></a>
    <a href="/vote"><button name='LECTURER' id='btn'>LECTURER</button></a>
    <a href="/student"><button name="STUDENT" id="btn">STUDENT</button></a>
</header>
<body>

</body>