<header id="header">
    <h1> The HOMEPAGE</h1>
    <a href='/'><button name='HOME' id='btn'>HOME</button></a>
    <a href='/vote'><button name= 'lecturer' id='btn'>LECTURER</button></a>
    <a href='/student'><button name= 'student' id='btn'>STUDENT</button></a>
</header>

<body>

</body>
        