<!DOCTYPE html>
<head>
    <!-- METAS -->
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <!-- INFO -->
   <title>thePoll -- {{title}}</title>
    <!-- LINKS -->
    <link rel='stylesheet' type='text/css' href='../css/style.css'/>
</head>
<body>
    {{{body}}}
    <hr>
    <footer id='footer'>
        <p>Web Application by IST4035 - Group 9. Members: Abdi / Agape / Bullo / Gibson </p>
    </footer>
</body>