<!DOCTYPE html>

<head>
    <!-- METAS -->
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <!-- INFO -->
    <title>thePoll -- {{title}}</title>
    <!-- LINKS -->
    <link rel='stylesheet' type='text/css' href='../css/style.css' />
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- SCRIPTS -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
</head>

<body>
    {{{body}}}
    <hr>
    <footer id='footer'>
        <p>Web Application by IST4035 - Group 9. Members: Abdi / Agape / Bullo / Gibson </p>
    </footer>
</body>